body{
    background-color: lightgray;
    font-family: sans-serif;
}
.logica {
    width: 600px;
    height: 400px;
    
}
.capib{
    text-align: center;
   
}
.aaa{
    width: 600px;
    width: 400px;
}
.www{
   text-align: center; 
}
